@{
    ViewData["Title"] = "Start";
}

<div class="row">
    <div class="jumbotron">
        <h1>CONSID - WEB EXERCISE</h1>
        <h2>FOR BACKEND DEVELOPERS v1.0</h2>

        <p style="margin-top: 40px;">
            Hej, Joacim här! <br />
            Detta är mitt försök på er utmaning, hoppas ni gillar det!
        </p>
        <p>Om ni vill veta mer om mig eller se några av mina tidigare projekt, kolla in <a target="_blank" href="http://www.joacimfloren.se/">joacimfloren.se</a>.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <a asp-area="" class="btn btn-primary btn-lg btn-block" asp-controller="Companies" asp-action="">Företag</a>
    </div>
    <div class="col-lg-6">
        <a asp-area="" class="btn btn-warning btn-lg btn-block" asp-controller="Stores" asp-action="">Butiker</a>
    </div>
</div>
